/**CSS for homepage**/

  /**This is code is for putting text over images**/

    /**This one specifically is for the header so it can have a box**/

.header {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #1abc9c;
  padding: 40px 10px;
  text-align: center;
  font-size: 25px;
}

  /**This is code relevant to the 4 panel navigation that only pertains to the homepage**/
.fourpanelnavi {
  padding-top: 30px;
  display: flex;
  width: 100%;
}

.panels{
  flex: 1;
  border: 1px solid yellow;
  margin:10px;
}

.panelimage {
  position: relative;
  text-align: center;
}

.paneltext {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**CSS for wheretostart**/

/**CSS for mutualaidnearme**/
.nearme {
    width:80%;
}


/**CSS for tools**/
h3 {
     text-align:center;
     }
 
/**.subtopic_1{
position: relative; 
text-align:center;
width:100%;
margin:auto;
border:5px solid darkblue;
padding:10px;}

.subtopic_2{
position: relative; 
text-align:center;
width:100%;
margin:auto;
border:5px solid darkblue;
padding:10px;}

.subtopic_3{
position: relative; 
text-align:center;
width:100%;
margin:auto;
border:5px solid darkblue;
padding:10px;}**/

/**CSS for faq**/
.sidenav {
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    left: 0;
    background-color: #8ddece;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

/** Page content - Everything right of navbar **/
main {
    margin-left: 15%;
    padding: 0 10px;
}

h1 {
    text-align: center;
}

#aboutus {
    margin:120px auto 0;
    padding:0 10px;
    max-width:800px;
}

#tabs {
    margin-top:100px;
}
/**CSS for Navigation**/

    /**Below is a mini footer**/

.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
  }

 .footer a {
	float:none;
	width: 150px;
	display:block;
	text-decoration:none;
	padding:15px 32px;
	background-color:#e0e0de;
	font-size: 16px;
	cursor: pointer;
 }
 
 footer a:hover {
	 border: 3px rounded;
	 border-color:black;
 }

    /**Below is a button design for the footer**/
  .buttons {
    border: yellow;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
  }

  /**parent for flex button**/
  .buttonplacement{
    display: flex;
    width: 100%;
  }

  /**child for flex button**/
  .flexbutton {
    flex: 1;
    margin:20px;
  }
/**CSS for contact us form**/
/** style input with type="text" and textareas **/
input[type=text], textarea {
    width:100%;
    padding: 12px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}
/**style for submit button**/
input[type=submit] {
    background-color: #4CAF50;
    color:white;
    padding: 12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

/** moving mouse over submit button **/
input[type=submit]:hover {
    background-color:#45a049;
}
/** background color and padding for form**/
.dropdown {
    display:none;
    position: relative;
    border-radius:5px;
    background-color: #f2f2f2;
    padding: 20px;
    bottom:0;
}
/**style for form container**/
.form-container {
    max-width:100%;
    padding:10px;
    background-color:white;
}
.closeButton {
    position:absolute;
    right:20px;
    top:20px;
    cursor:pointer;
    background-color:orangered;
}
.closeButton:hover{
    background-color:red;
}
  /**This code is relevant to all webpages**/
  img {
    max-width: 100%;
    max-height: 100%;
  }

  a, a:hover, a:active, a:visited {
    color: #031310;

  }

  body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
  }

  html {
    position: relative;
    min-height: 100%;
}

* {
  box-sizing: border-box;
}

/** CSS for tabs**/



.tab {
  overflow: hidden;
  border: 5px solid #choose color;
  background-color: #choose color;
}

/** Style the buttons that are used to open the tab content **/
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/** Change background color of buttons on hover **/
.tab button:hover {
  background-color: #choose color;
}

/** Create an active/current tablink class **/
.tab button.active {
  background-color: #choose color;
}

/** Style the tab content **/
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #choose color;
  border-top: none;
}

/** media queries**/

@media screen and (max-width: 1820px) {
    .intraDiv {
        display: inline-block;
        margin: 15px 50px;
    }
}

@media screen and (max-width: 1620px) {
    .intraDiv {
        display: inline-block;
        margin: 15px 40px;
    }
}

@media screen and (max-width: 1555px) {
    .sidenav a {
        font-size: 20px;
    }

    .intraDiv {
        display: inline-block;
        margin: 15px 30px;
    }
}

@media screen and (max-width: 1350px) {
    .sidenav a {
        font-size: 18px;
    }

    .intraDiv {
        display: block;
        margin: 35px 0;
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }
}

@media screen and (max-width: 1165px) {
    .sidenav a {
        font-size: 16px;
    }
    .topbutton {
    bottom:120px;
    right:0px;
    position: fixed;
    opacity:0.8;
    }
    
    .topbutton a {
    width:25px;
    text-decoration:none;
    padding: 4px 8px;
    background-color:#e0e0de;
    font-size:12px;
    border-radius:150px;
    border: 1px solid #e0e0de;
    
    }
}

@media screen and (max-width: 1051px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        top: 0;
        left: 0;
    }

    #tabs {
        margin-top: 0;
    }

    .sidenav a {
        text-align: center;
        font-size: 25px;
    }

    main {
        margin-left: 0;
        margin-top: 0;
    }

    header {
        position: relative;
    }

    .spacer {
        display: none;
    }

    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-top: 25px;
    }

    footer a {
        margin: 0 20px;
        padding: 5px 20px;
        font-size: 16px;
    }

    footer {
      left: 0px;
      margin-top: 100px;
      position: absolute;
      bottom: 0px;
    }

    .spacer {
        display: none;
    }

    .logo {
        position: absolute;
    }

    #text {
        display: none;
    }


    .fourpanelnavi {
        padding-top: 30px;
        flex-direction: column;
        display: flex;
        width: 50%;
        margin-left: 25%;
    }

    .panels{
        flex: 1;
        border: 1px solid yellow;
        margin:10px;
    }
    
    .topbutton {
    bottom:120px;
    right:0px;
    position: fixed;
    opacity:0.8;
    }
    
    .topbutton a {
    width:25px;
    text-decoration:none;
    padding: 3px 8px;
    background-color:#e0e0de;
    font-size:10px;
    border-radius:150px;
    border: 1px solid #e0e0de;
    
    }
}
