/**CSS for homepage**/

  /**This is code is for putting text over images**/

    /**This one specifically is for the header so it can have a box**/

header {
  width: 100%;
  height: 100px;
  background-color: #1abc9c;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

  /**This is code relevant to the 4 panel navigation that only pertains to the homepage**/
.fourpanelnavi {
  padding-top: 30px;
  display: flex;
  width: 100%;
}

.panels{
  flex: 1;
  border: 1px solid yellow;
  margin:10px;
}

.panelimage {
  position: relative;
  text-align: center;
}

.paneltext {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**CSS for wheretostart**/

/**CSS for mutualaidnearme**/

/**CSS for tools**/

/**CSS for faq**/
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    z-index: 100px; /** Stay on top **/
    top: 100px; /** Stay at the top **/
    background-color: #8ddece;
    clear: both;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

/** Page content - Everything right of navbar **/
main {
    margin-left: 15%;
    padding: 0 10px;
}

h1 {
    text-align: center;
}

/**CSS for Navigation**/

    /**Below is a mini footer**/

.footer {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
  }

    /**Below is a button designs for the footer**/
  .buttons {
    border: yellow;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
  }

  /**parent for flex button**/
  .buttonplacement{
    display: flex;
    width: 100%;
  }

  /**child for flex button**/
  .flexbutton {
    flex: 1;
    margin:25px;
  }

  /**This code is relevant to all webpages**/
  img {
    max-width: 100%;
    max-height: 100%;
  }

  a, a:hover, a:active, a:visited {
    color: #031310;

  }

  body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
  }

  html {
    position: relative;
    min-height: 100%;
}

* {
  box-sizing: border-box;
}

/**used to create spoace**/
.spacer{
  width: 100%;
    height: 100px;
}
