/**CSS for homepage**/

  /**This is code is for putting text over images**/

    /**This one specifically is for the header so it can have a box**/

.header {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #1abc9c;
  padding: 40px 10px;
  text-align: center;
  font-size: 25px;
}

  /**This is code relevant to the 4 panel navigation that only pertains to the homepage**/
.fourpanelnavi {
  padding-top: 30px;
  display: flex;
  width: 100%;
}

.panels{
  flex: 1;
  border: 1px solid yellow;
  margin:10px;
}

.panelimage {
  position: relative;
  text-align: center;
}

.paneltext {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**CSS for wheretostart**/

/**CSS for mutualaidnearme**/

/**CSS for tools**/
h3 {
     text-align:center;
     }
 
.subtopic_1{
position: relative; 
text-align:center;
width:100%;
margin:auto;
border:5px solid darkblue;
padding:10px;}

.subtopic_2{
position: relative; 
text-align:center;
width:100%;
margin:auto;
border:5px solid darkblue;
padding:10px;}

.subtopic_3{
position: relative; 
text-align:center;
width:100%;
margin:auto;
border:5px solid darkblue;
padding:10px;}

/**CSS for faq**/
.sidenav {
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    left: 0;
    background-color: #8ddece;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

/** Page content - Everything right of navbar **/
main {
    margin-left: 15%;
    padding: 0 10px;
}

h1 {
    text-align: center;
}

/**CSS for Navigation**/

    /**Below is a mini footer**/

.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
  }

 .footer a {
	float:none;
	width: 150px;
	display:block;
	text-decoration:none;
	padding:15px 32px;
	background-color:#e0e0de;
	font-size: 16px;
	cursor: pointer;
 }
 
 footer a:hover {
	 border: 3px rounded;
	 border-color:black;
 }

    /**Below is a button design for the footer**/
  .buttons {
    border: yellow;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
  }

  /**parent for flex button**/
  .buttonplacement{
    display: flex;
    width: 100%;
  }

  /**child for flex button**/
  .flexbutton {
    flex: 1;
    margin:20px;
  }

  /**This code is relevant to all webpages**/
  img {
    max-width: 100%;
    max-height: 100%;
  }

  a, a:hover, a:active, a:visited {
    color: #031310;

  }

  body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
  }

  html {
    position: relative;
    min-height: 100%;
}

* {
  box-sizing: border-box;
}

/** CSS for tabs**/



.tab {
  overflow: hidden;
  border: 5px solid #choose color;
  background-color: #choose color;
}

/** Style the buttons that are used to open the tab content **/
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/** Change background color of buttons on hover **/
.tab button:hover {
  background-color: #choose color;
}

/** Create an active/current tablink class **/
.tab button.active {
  background-color: #choose color;
}

/** Style the tab content **/
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #choose color;
  border-top: none;
}
