/**CSS for homepage**/

/**This is the div that holds all the panels div**/
.fourpanelnavi {
    padding-top: 30px;
    display: flex;
    width: 100%;
}

/**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
.panels{
    flex: 1;
    border: 1px solid yellow;
    margin:10px;
}

/**This controls the position of the text and images in the panels.**/
.panelimage {
    position: relative;
    text-align: center;
}

/**This puts the font in the middle of the image.**/
.paneltext {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spacer{
    width: 100%;
    height: 100px;
}



/**CSS for wheretostart**/

.intraLink {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #d9d9d9;
    font-size: 16px;
    border-radius: 4px;
    border: 3px solid #d9d9d9;
    display: inline;
}

.intraLink:hover {
    border: 3px solid black;
}

h2 {
    margin-top: 5%;
    text-decoration: underline;
    font-size: 30px;
}

.intraDiv {
    display: inline-block;
    margin: 0 10px;
}

.mobileNav {
    display: none;
}

.mobileNav a {
    text-decoration: none;
}

.question {
    margin-top: 30px;
    font-weight: 600;
}

.miniquestion {
    margin-top: 60px;
}

/**CSS for mutualaidnearme**/



/**CSS for tools**/



/**CSS for about us**/

#aboutus {
    margin: 120px auto 0;
    padding: 0 10px;
    max-width: 800px;
}



/**CSS for faq**/


h1 {
    text-align: center;
}



/**CSS for Navigation**/

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    z-index: 1; /** Stay on top **/
    top: 100px; /** Stay at the top **/
    background-color: #8ddece;
    clear: both;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}



/** CSS for every page **/

main {
    margin-left: 15%;
    margin-top: 6%;
    padding: 10px 10px;
}

body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a, a:visited {
    color: #031310;
    background-color: transparent;

}

a:hover, a:active {
    color:#1814F3;
    background-color: #e8f8f5 ;
    opacity: 0.8;
}

/**This one specifically is for the header so it can have a box**/
header {
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/**logo placement and such**/
.logo {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
}

/**Back to top buttons**/
.topbutton {
    bottom: 120px;
    right: 0px;
    position: fixed;
    opacity: 0.8;
}

.topbutton a {
    width: 50px;
    text-decoration:none;
    padding: 10px 15px;
    background-color:#e0e0de;
    font-size: 16px;
    border-radius:150px;
    border: 3px solid #e0e0de;
}

.topbutton a:hover {
    border: 3px solid black;

}


/**CSS for footer**/

footer {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
    z-index: 2;
}

footer a {
    width: 150px;
    text-decoration:none;
    margin: 0 60px;
    padding: 15px 32px;
    background-color:#e0e0de;
    font-size: 16px;
    border-radius:4px;
    border: 3px solid #e0e0de;
}

footer a:hover {
    border: 3px solid black;
}



@media screen and (max-width: 1050px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0px 0px;
        top: 0;
        left: 0;
    }
    
    #tabs {
        margin-top: 0;
    }
    
    .sidenav a {
        text-align: center;
        font-size: 25px;
    }
    
    main {
        margin: 0 10px;
    }
    
    header {
        position: relative;
    }

    .spacer {
        display: none;
    }

    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-top: 25px;
    }
    
    footer a {
        margin: 0 20px;
        padding: 5px 20px;
        font-size: 16px;
    }

    footer {
      left: 0px;
      margin-top: 100px;
      position: absolute;
      bottom: 0px;
    }
    
    .logo {
        position: absolute;
    }
    
    #text {
        display: none;
    }
    
    .fourpanelnavi {
        padding-top: 30px;
        flex-direction: column;
        display: flex;
        width: 50%;
        margin-left: 25%;
    }

    .panels{
        flex: 1;
        border: 1px solid yellow;
        margin:10px;
    }
    
    .desktopNav {
        display: none;
    }
    
    .mobileNav {
        display: block;
    }
}
