/**CSS for homepage**/

  /**This is code is for putting text over images**/

    /**This one specifically is for the header so it can have a box**/
.imgundertext {
  position: relative;
  text-align: center;
  color: white;

  box-sizing: border-box;
  width:auto;
  height:100px;
  border: 1px solid yellow;
}

.overimgtext {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /**This is code relevant to the 4 panel navigation that only pertains to the homepage**/
.fourpanelnavi {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  padding-top: 20px;
  text-align: center;
}

.panels{
  flex: 1;
  border: 1px solid yellow;
  justify-content: center;
  margin-right:10px;
}

.panelimage {
  position: relative;
  text-align: center;
}

.paneltext {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**CSS for wheretostart**/

/**CSS for mutualaidnearme**/

/**CSS for tools**/

/**CSS for faq**/

/**CSS for Navigation**/

  /**Below is a mini footer**/

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 20px;
    text-align: left;
  }

    /**Below is a button designs for the footer**/
  .buttons {
    border: yellow;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  /**parent for flex button**/
  .buttonplacement{

    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    padding-top: 10px;
    text-align: center;

  }

  /**child for flex button**/
  .flexbutton {
    flex: 1;
    justify-content: center;
    margin-right:20px;
  }
  /**This code is relevant to all webpages**/
  img {
    max-width: 100%;
    max-height: 100%;
  }

  a, a:hover, a:active, a:visited {
    color: white;

  }
