/****************************************** CSS for homepage ******************************************/

/**This is the div that holds all the panels div**/
.fourpanelnavi {
    padding-top: 30px;
    display: flex;
    width: 100%;
}

/**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
.panels{
    flex: 1;
    flex-grow: 1;
    margin:10px;
    width: 200px;
    height: auto;
}

/**This controls the position of the text and images in the panels.**/
.panelimage {
    position: relative;
    text-align: center;
}

/**This puts the font in the middle of the image.**/
.paneltext {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spacer{
    width: 100%;
    height: 100px;
}



/****************************************** CSS for wheretostart ******************************************/

.intraLink {
    text-decoration: none;
    padding: 7px 50px;
    background-color: #d9d9d9;
    font-size: 20px;
    border-radius: 4px;
    border: 3px solid #d9d9d9;
    display: inline-block;
}

.intraLink:hover {
    border: 3px solid black;
}

h2 {
    margin-top: 5%;
    text-decoration: none;
    font-size: 30px;
}

.miniquestion {
    margin-top: 60px;
}

.collapsible {
    background-color: #8ddece;;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.collapsibleActive, .collapsible:hover {
    background-color: #1abc9c;
}

.collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #e8f8f5;
    text-align: left;
}

.topLayer, .bottomLayer{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
}



/****************************************** CSS for mutualaidnearme ******************************************/



/****************************************** CSS for tools ******************************************/



/****************************************** CSS for about us ******************************************/

.aboutus {
    position: absolute;
    bottom: 100px;
}



/****************************************** CSS for faq ******************************************/



/****************************************** CSS for Navigation ******************************************/

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    z-index: 1; /** Stay on top **/
    top: 100px; /** Stay at the top **/
    background-color: #8ddece;
    clear: both;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.mobileNav {
    display: none;
}



/****************************************** CSS for every page ******************************************/

main {
    margin: 100px 3% 0 16%;
    padding: 10px;
    line-height: 30px;
}

body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
    font-family: sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

a, a:visited {
    color: #031310;
    background-color: transparent;
}

a:hover, a:active {
    color:#1814F3;
    background-color: #e8f8f5 ;
    opacity: 0.8;
}

header {
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 75px;
}

#totopbutton {
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    bottom: 110px;
    right: 10px;
    position: fixed;
    opacity: 0.8;
}

#totopbutton a {
    width: 50px;
    text-decoration:none;
    padding: 10px 15px;
    background-color:#e0e0de;
    font-size: 20px;
    border-radius:150px;
    border: 3px solid #e0e0de;
}

#totopbutton a:hover {
    border: 3px solid black;
}

p {
    font-size: 18px;
    width: 90%;
}

li {
    font-size: 18px;
    width: 90%;
}



/****************************************** CSS for footer ******************************************/

footer {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
    z-index: 2;
}

footer a {
    width: 150px;
    text-decoration:none;
    margin: 0 60px;
    padding: 15px 32px;
    background-color:#e0e0de;
    font-size: 20px;
    border-radius:4px;
    border: 3px solid #e0e0de;
}

footer a:hover {
    border: 3px solid black;
}

.footerspace {
    margin-top: 2%;
}



/****************************************** Desktops, Even larger screens ******************************************/
@media screen and (max-width: 1340px) {
    fourpanelnavi {
        padding-left: 30px;
    }

    .panelimage {
        padding-left: 30px;
        position: relative;
        text-align: center;
        max-width: 90%;
    }

}



/****************************************** Desktops, large screens ******************************************/
@media screen and (max-width: 1201px) {
    .sidenav a {
        font-size: 20px;
    }
    
    #totopbutton a {
        width: 25px;
        padding: 4px 8px;
        font-size: 12px;
    }
    
    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        padding-top: 30px;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        align-items: flex-start
    }
    
    /**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
    .panels{
        flex-basis: 34%;
        margin: 10px;
        width: 200px;
        height: auto;
    }
    
    h1 {
        margin: 0;
        font-size: 60px;
        padding-top: 10px;
    }
}



/****************************************** small screens, laptops ******************************************/
@media screen and (max-width: 1024px) {
    .sidenav {
        display: none;
    }

    main {
        margin: 100px 3% 0 3%;
    }

    h1 {
        font-size: 45px;
    }

    footer a {
        margin: 0 20px;
        padding: 5px 20px;
        font-size: 16px;
    }

    footer {
        margin-top: 100px;
        position: absolute;
    }

    .logo {
        position: absolute;
    }

    .panelimage {
        max-width: 80%;
    }
    
    #totopbutton {
        float: right;
        bottom: 110px;
    }

    /* Style the navigation menu */
    .mobileNav {
        display: block;
        overflow: hidden;
        background-color: #1abc9c;
        position: static;
        background: rgb(26, 188, 156, .9);
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .mobileNav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .mobileNav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        display: block;
        text-align: center;
    }

    /* Style the hamburger menu */
    .mobileNav a.icon {
        background-color: #1abc9c;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 30px;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #1abc9c;
        color: white;
        text-align: center;
        margin-top: -10px;
        pointer-events: none;
    }

    .bars div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    
    .intraLink {
        padding: 7px 40px;
    }
}



/****************************************** iPads, Tablets ******************************************/
@media screen and (max-width: 800px) {
    h1 {
        padding-top: 15px;
        padding-left: 35px;
        font-size: 30px;
    }

    .logo {
        width: 30%;;
        z-index: 2;
        float: left;
    }

    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        width: 100%;
    }
    
    main {
        margin: 100px 5% 0 5%;
    }
    
    .intraLink {
        padding: 7px 20px;
    }
}



/****************************************** mobile devices ******************************************/
@media screen and (max-width: 650px) {
    .topLayer, .bottomLayer{
        padding: 0;
        display: block;
        margin: 0;
    }
    
    .intraLink {
        text-align: center;
        display: block;
        margin: 5px 0;
    }
    
    main {
        margin: 100px 8% 0 8%;
    }
}
