/****************************************** CSS for homepage ******************************************/

/**This is the div that holds all the panels div**/
.fourpanelnavi {
    display: flex;
    width: 100%;
    padding-bottom: 35px;
}

/**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
.panels{
  margin: 0 2% 2% 2%;
}

.intro {
    margin: 110px auto 0;
    line-height: 30px;
    width: 90%;
}

.intro p {
    width: 100%;
}


/****************************************** CSS for wheretostart ******************************************/

.intraLink {
    text-decoration: none;
    padding: 7px 50px;
    background-color: #d9d9d9;
    font-size: 20px;
    border-radius: 4px;
    border: 3px solid #d9d9d9;
    display: inline-block;
}

.intraLink:hover {
    border: 3px solid black;
}

h2 {
    margin-top: 5%;
    text-decoration: none;
    font-size: 30px;
}

.miniquestion {
    margin-top: 50px;
}

.collapsible {
    background-color: #8ddece;;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.collapsibleActive, .collapsible:hover {
    background-color: #1abc9c;
}

.collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #e8f8f5;
    text-align: left;
}

.topLayer, .bottomLayer{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
}

.linkSection {
    scroll-margin-top: 110px;
}


/****************************************** CSS for mutualaidnearme ******************************************/

.locationbox {
    border-style: double;
    background-color: #Efc592;
    margin-top: 20px;
    padding: 20px;
}



/****************************************** CSS for tools ******************************************/

iframe{
    border-width: 0px;
}



/****************************************** CSS for about us ******************************************/

.disclaimer {
    border-style:solid;
    border-color: mediumvioletred;
    padding-left: 20px;
}

email::after {
    content: attr(data-domain);
}
email::before {
    content:attr(data-user);
}



/****************************************** CSS for faq ******************************************/



/****************************************** CSS for Navigation ******************************************/

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed; /* Stays in place on scroll */
    z-index: 1; /* Stay on top */
    top: 100px; /* Stay at the top */
    background-color: #8ddece;
    clear: both;
    overflow-x: hidden; /* Disables horizontal scroll */
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.mobileNav {
    display: none;
}



/****************************************** CSS for every page ******************************************/

main {
    margin: 100px 3% 150px 16%;
    padding: 10px;
    line-height: 30px;
}

body{
    background-color: #e8f8f5;
    margin: 0 0 120px;
    font-family: sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

a, a:visited {
    color: #031310;
    background-color: transparent;
}

a:hover, a:active {
    color:#1814F3;
    background-color: #e8f8f5 ;
    opacity: 0.8;
}

header {
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 75px;
}

#totopbutton {
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    bottom: 160px;
    right: 10px;
    position: fixed;
    opacity: 0.8;
}

#totopbutton a {
    width: 50px;
    text-decoration:none;
    padding: 10px 15px;
    background-color:#e0e0de;
    font-size: 20px;
    border-radius:150px;
    border: 3px solid #e0e0de;
}

#totopbutton a:hover {
    border: 3px solid black;
}

p {
    font-size: 18px;
    width: 90%;
}

li {
    font-size: 18px;
    width: 90%;
}



/****************************************** CSS for footer ******************************************/

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #1abc9c;
    text-align: center;
    z-index: 2;
    padding-top: 2%;
}

footer a {
    width: 150px;
    text-decoration:none;
    margin: 0 60px;
    padding: 15px 32px;
    background-color:#e0e0de;
    font-size: 20px;
    border-radius:4px;
    border: 3px solid #e0e0de;
}

footer a:hover {
    border: 3px solid black;
}

.footDisclaim {
    width: 100%;
    padding: 1% 0;
}



/****************************************** Desktops, Even larger screens ******************************************/
@media screen and (max-width: 1340px) {
    fourpanelnavi {
        padding-left: 30px;
    }

    .panelimage {
        padding-left: 30px;
        position: relative;
        text-align: center;
        max-width: 90%;
    }

}



/****************************************** Desktops, large screens ******************************************/
@media screen and (max-width: 1201px) {
    .sidenav a {
        font-size: 20px;
    }
    
    #totopbutton a {
        width: 25px;
        padding: 4px 8px;
        font-size: 12px;
    }
    
    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        padding-top: 30px;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    
    /**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
    .panels{
        flex-basis: 34%;
        margin: 10px;
        width: 200px;
        height: auto;
    }
    
    h1 {
        margin: 0;
        font-size: 60px;
        padding-top: 10px;
    }
}



/****************************************** small screens, laptops ******************************************/
@media screen and (max-width: 1024px) {
    .sidenav {
        display: none;
    }

    main {
        margin: 100px 3% 0 3%;
    }

    footer a {
        margin: 0 20px;
        padding: 5px 20px;
        font-size: 16px;
    }

    footer {
        margin-top: 100px;
        position: absolute;
    }

    .logo {
        position: absolute;
    }

    .panelimage {
        max-width: 80%;
    }
    
    #totopbutton {
        float: right;
        bottom: 110px;
    }

    /* Style the navigation menu */
    .mobileNav {
        display: block;
        overflow: hidden;
        background-color: #1abc9c;
        position: absolute;
        top: 10%;
        right: 0px;
        background: rgb(26, 188, 156, 0);
        padding-right: 30px;
        z-index: 2;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .mobileNav #myLinks {
        overflow: hidden;
        max-height: 0;
        background: rgb(26, 188, 156, .9);
    }
    
    input:checked ~ #myLinks {
      max-height: 100%;
    }
    
    .mobileNav label {
      cursor: pointer;
      font-size: 65px;
      text-align: right;
      display: block;
    }
    
    input#menu {
      display: none;
    }

    /* Style navigation menu links */
    .mobileNav a {
        color: white;
        padding: 20px 16px;
        text-decoration: none;
        font-size: 24px;
        display: block;
        text-align: center;
    }

    /* Style the active link (or home/logo) */
    .active {
        margin-top: -10px;
    }

    .intraLink {
        padding: 7px 40px;
    }
}



/****************************************** iPads, Tablets ******************************************/
@media screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
        padding-top: 3%;
    }

    .logo {
        width: 30%;;
        z-index: 2;
        float: left;
    }

    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        width: 100%;
    }
    
    main {
        margin: 100px 5% 0 5%;
    }
    
    .intraLink {
        padding: 7px 20px;
    }
}



/****************************************** mobile devices ******************************************/
@media screen and (max-width: 650px) {
    .topLayer, .bottomLayer{
        padding: 0;
        display: block;
        margin: 0;
    }
    
    .intraLink {
        text-align: center;
        display: block;
        margin: 5px 0;
    }
    
    main {
        margin: 100px 8% 0 8%;
    }
    
    h1 {
        font-size: 30px;
        padding-top: 5%;
    }
    
    footer a {
        width: 75px;
        text-decoration: none;
        margin: 0 30px;
        padding: 5px 15px;
        background-color: #e0e0de;
        font-size: 18px;
        border-radius: 4px;
        border: 3px solid #e0e0de;
    }
}
