/****************************************** CSS for homepage ******************************************/

/**This is the div that holds all the panels div**/
.fourpanelnavi {
    padding-top: 30px;
    display: flex;
    width: 100%;
}

/**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
.panels{
    flex: 1;
    flex-grow: 1;
    margin:10px;
    width: 200px;
    height: auto;

}

/**This controls the position of the text and images in the panels.**/
.panelimage {
    position: relative;
    text-align: center;
}

/**This puts the font in the middle of the image.**/
.paneltext {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spacer{
    width: 100%;
    height: 100px;
}



/****************************************** CSS for wheretostart ******************************************/

.intraLink {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #d9d9d9;
    font-size: 20px;
    border-radius: 4px;
    border: 3px solid #d9d9d9;
    display: inline-block;
}

.intraLink:hover {
    border: 3px solid black;
}

h2 {
    margin-top: 5%;
    text-decoration: underline;
    font-size: 30px;
}

.intraDiv {
    display: inline-block;
    margin: 0 10px;
}

.wheretostartlink {
    display: none;
}

.wheretostartlink a {
    text-decoration: none;
}

.miniquestion {
    margin-top: 60px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.collapsibleActive, .collapsible:hover {
    background-color: #555;
}

.collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #e8f8f5;
    text-align: center;
}

.section {
    scroll-margin-top: 100px;
}

/****************************************** CSS for mutualaidnearme ******************************************/



/****************************************** CSS for tools ******************************************/



/****************************************** CSS for about us ******************************************/

#aboutus {
    margin: 120px auto 0;
    padding: 0 10px;
    max-width: 800px;
}



/****************************************** CSS for faq ******************************************/



/****************************************** CSS for Navigation ******************************************/

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    z-index: 1; /** Stay on top **/
    top: 100px; /** Stay at the top **/
    background-color: #8ddece;
    clear: both;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}



/****************************************** CSS for every page ******************************************/

main {
    margin-left: 15%;
    margin-top: 100px;
    padding: 10px;
}

body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

a, a:visited {
    color: #031310;
    background-color: transparent;
}

a:hover, a:active {
    color:#1814F3;
    background-color: #e8f8f5 ;
    opacity: 0.8;
}

header {
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 75px;
}

/**Back to top buttons**/
.topbutton {
    bottom: 110px;
    right: 10px;
    position: fixed;
    opacity: 0.8;
}

#totopbutton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  width: 30px;
}

.topbutton a {
    width: 50px;
    text-decoration:none;
    padding: 10px 15px;
    background-color:#e0e0de;
    font-size: 20px;
    border-radius:150px;
    border: 3px solid #e0e0de;
}

.topbutton a:hover {
    border: 3px solid black;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

.mobilesidenav {
    display: none;
}

#mobileHeader {
    display: none;
}


/****************************************** CSS for footer ******************************************/

footer {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
    z-index: 2;
}

.footerspace {

  margin-top: 3%;

}

footer a {
    width: 150px;
    text-decoration:none;
    margin: 0 60px;
    padding: 15px 32px;
    background-color:#e0e0de;
    font-size: 20px;
    border-radius:4px;
    border: 3px solid #e0e0de;
}

footer a:hover {
    border: 3px solid black;
}

.footerspace {
    margin-top: 3%;
}



@media screen and (max-width: 1340px) {
    .intraDiv {
        margin: 0 3px;
    }

    .intraLink {
        padding: 7px 10px;
    }

    fourpanelnavi {
        padding-left: 30px;
    }

    .panelimage {
        padding-left: 30px;
        position: relative;
        text-align: center;
        max-width: 90%;
    }

}
/** ********Desktops, large screens******** **/
@media screen and (max-width: 1201px) {
    .sidenav a {
        font-size: 20px;
    }

    .intraDiv {
        display: block;
        margin: 20px 0px;
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }

    .topbutton a {
        width:25px;
        padding: 4px 8px;
        font-size:12px;
    }

    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        padding-top: 30px;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        align-items: flex-start
    }

    /**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
    .panels{
        flex-basis: 34%;
        margin:10px;
        width: 200px;
        height: auto;
    }

    .panelimage {
        position: relative;
        text-align: center;
        max-width: 90%;
    }
}

/** *******small screens, laptops******** **/
@media screen and (max-width: 1024px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
    }

    #tabs {
        margin-top: 0;
    }

    .sidenav a {
        text-align: center;
        font-size: 25px;
    }

    main {
        margin: 0 10px;
    }

    header {
        position: relative;
    }

    .spacer {
        display: none;
    }

    h1 {
        margin: 0;
        padding-top: 25px;
    }

    footer a {
        margin: 0 20px;
        padding: 5px 20px;
        font-size: 16px;
    }

    footer {
        margin-top: 100px;
        position: absolute;
    }

    .logo {
        position: absolute;
    }

    #text {
        display: none;
    }


    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    /**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
    .panels{
        flex-basis: 34%;
        margin:10px;
        width: 200px;
        height: auto;
    }

    .panelimage {
        position: relative;
        text-align: center;
        max-width: 80%;
    }

    .topbutton {
        position: sticky;
        float: right;
        bottom: 0;
        padding-bottom: 15px;
    }

    .wheretostartlink {
        display: block;
    }

    .desktopNav {
        display: none;
    }
}

/** ********iPads, Tablets******** **/
@media screen and (max-width: 800px) {
    .sidenav {
        display: none;
    }

    header {
        display: none;
    }

    h1 {
        padding-top: 15px;
        padding-left: 35px;
        font-size: 28px;
    }

    .mobileMANM {
        font-size: 32px;
        padding-top: 15px;
    }

    .logo {
        width: 30%;;
        z-index: 2;
        float: left;
    }

    #text {
        display: none;
    }

    /**This is the div that holds all the panels div**/
    .fourpanelnavi {
        padding-top: 30px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    /**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
    .panels{
        flex-basis: 34%;
        margin:10px;
        width: 200px;
        height: auto;
    }

    .desktopNav {
        display: none;
    }

    .section {
        scroll-margin-top: 0;
    }

    .mobilesidenav {
        display: block;
        background-color: #8ddece;
        clear: both;
        overflow-x: hidden;
        width: 100%;
        height: auto;
        position: relative;
        margin: 0px 0px;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .mobilesidenav a {
        padding: 20px 8px 20px 16px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        text-align: center;
    }

    #mobileHeader {
        display: block;
    }

    /* Style the navigation menu */
    .mobileNav {
        overflow: hidden;
        background-color: #1abc9c;
        position: static;
        background: rgb(26, 188, 156, .9);
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .mobileNav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .mobileNav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        text-align: center;
    }

    /* Style the hamburger menu */
    .mobileNav a.icon {
        background-color: #1abc9c;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 30px;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #1abc9c;
        color: white;
        text-align: center;
        margin-top: -10px;
        pointer-events: none;
    }

    .bars div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .mobileHeadContainer {
        width: 100%;
        height: 100px;
    }

    .mobilePageTitle {
        width: 50%;
        margin-left: 25%;
    }

    h1 {
        padding-top: 15px;
        padding-left: 35px;
        font-size: 25px;
    }
}

/** ********mobile devices******** **/
@media screen and (max-width: 500px) {

  h1 {
      padding-top: 15px;
      padding-left: 35px;
      font-size: 25px;
  }

  h2 {
    font-size: 15px;
    padding-left: 25px;
  }

  footer {
    height: 80px;
  }

  .footerspace {
      margin-top: 8%;
  }

  header {
      height: 80px;
  }


}
