/**CSS for homepage**/

/**header css**/

header {
    width: 100%;
    height: 100px;
    background-color: #1abc9c;
    position: fixed;
    top: 0;
    left: 0;
}

/**logo placement and such**/

.logo {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

/**This is code relevant to the 4 panel navigation that only pertains to the homepage**/

/**This is the div that holds all the panels div**/
.fourpanelnavi {
    padding-top: 30px;
    display: flex;
    width: 100%;
}

/**This is the panels, margin is used for the space in between them. Border can be got rid off.**/
.panels{
    flex: 1;
    border: 1px solid yellow;
    margin:10px;
}

/**This controls the position of the text and images in the panels.**/
.panelimage {
    position: relative;
    text-align: center;
}

/**This puts the font in the middle of the image.**/
.paneltext {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);s
}


/**nav bar**/
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed; /** Stays in place on scroll **/
    z-index: 1; /** Stay on top **/
    top: 100px; /** Stay at the top **/
    background-color: #8ddece;
    clear: both;
    overflow-x: hidden; /** Disables horizontal scroll **/
}

/** Nav menu links **/
.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

/** Page content - Everything right of navbar **/
main {
    margin-left: 15%;
    margin-top: 6%;
    padding: 10px 10px;
}

body{
    background-color: #e8f8f5;
    margin: 0 0 100px;
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

/**CSS for footer**/

footer {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    margin-top: -100px;
    background-color: #1abc9c;
    color: white;
    text-align: center;
    z-index: 2;
}

footer a {
    width: 150px;
    text-decoration:none;
    margin: 0 60px;
    padding: 15px 32px;
    background-color:#e0e0de;
    font-size: 16px;
    border-radius:4px;
    border: 3px solid #e0e0de;
}

footer a:hover {
    border: 3px solid black;
}


/**Below is a button designs for the footer**/
.buttons {
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #e8f8f5;
    display: inline-block;
}

/**parent for flex button**/
.buttonplacement{
    display: flex;
    width: 100%;
}

/**child for flex button**/
.flexbutton {
    flex: 1;
    margin: 25px;
}

/**This code is relevant to all webpages**/
img {
    max-width: 100%;
    max-height: 100%;
}

h3 {
    margin-top: 5%;
}

a, a:visited {
    color: #031310;
    background-color: transparent;
}

a:hover, a:active {
    background-color: #e8f8f5 ;
    opacity: 0.8;
}


/**used to create space**/
.spacer{
    width: 100%;
    height: 100px;
}

/**below is mobile css**/
@media screen and (max-width: 1820px) {
    .intraDiv {
        display: inline-block;
        margin: 15px 50px;
    }
}

@media screen and (max-width: 1620px) {
    .intraDiv {
        display: inline-block;
        margin: 15px 40px;
    }
}

@media screen and (max-width: 1555px) {
    .sidenav a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1350px) {
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1165px) {
    .sidenav a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1051px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0px 0px;
        top: 0;
        left: 0;
    }

    .sidenav a {
        text-align: center;
        font-size: 25px;
    }

    main {
        margin-left: 0;
        margin-top: 0;
    }

    header {
        position: relative;
    }

    .spacer {
        display: none;
    }

    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-top: 25px;
    }

    footer a {
        margin: 0 20px;
        padding: 5px 20px;
        font-size: 16px;
    }

    footer {
      left: 0px;
      margin-top: 100px;
      position: absolute;
      bottom: 0px;
    }

    .spacer {
        display: none;
    }

    .logo {
        position: absolute;
    }


    #text {
        display: none;
    }

    /*below pertains to the mobile homepage only*/
    .fourpanelnavi {
        padding-top: 30px;
        flex-direction: column;
        display: flex;
        width: 50%;
        margin-left: 25%;
    }

    .panels{
        flex: 1;
        border: 1px solid yellow;
        margin:10px;
    }
}
